---
import imgCNJElogo from "../../website-data/imgs/about/cnje_text.png";
import { t } from "i18next";
---

<div class="flex">
    <div class="home-section-wrap">
        <div class="label">{t("about.engagement.title")}</div>
        <h2 class="head">{t("about.engagement.title2")}</h2>
        <p>
            {t("about.engagement.paragraph1")}
            <strong>
                {t("about.engagement.paragraph2")}
            </strong>
            {t("about.engagement.paragraph3")}
            <br />
        </p>
    </div>

    <a href="https://junior-entreprises.com/" target="_blank">
        <figure class="wrop">
            <img
                src={imgCNJElogo}
                loading="lazy"
                width="159"
                alt="CNJE logo"
                class="cnje-img"
            />
            <figcaption class="heading">
                {t("about.engagement.cnje")}
            </figcaption>
        </figure>
    </a>
</div>

<style>
    .cnje-img {
        width: 100%;
        height: auto;
        max-width: 300px;
    }
    .label {
        opacity: 0.6;
        letter-spacing: 1px;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .head {
        text-transform: uppercase;
        word-spacing: 3px;
        text-align: center;
    }
    .wrop {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex > * {
        flex: 1;
    }
    .flex .wrop {
        text-align: center;
        align-items: center;
    }

    .home-section-wrap {
        height: 100%;
        max-width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-section-wrap p {
        text-align: center;
    }

    @media screen and (max-width: 1100px) {
        .flex {
            display: flex;
            flex-direction: column;
        }

        .home-section-wrap {
            width: 100%;
        }
    }
</style>
