---
import { t } from "i18next";
---

<div>
    <div class="label">{t("about.mot_du_prez.mot1")}</div>
    <h2 class="center">{t("about.mot_du_prez.mot2")}</h2>

    <p class="paragraph-light">
        {t("about.mot_du_prez.mot3")}
        <strong>{t("about.mot_du_prez.mot4")}</strong>
        {t("about.mot_du_prez.mot5")}
        <strong>{t("about.mot_du_prez.mot6")}</strong>
        {t("about.mot_du_prez.mot7")}
        <strong>
            {t("about.mot_du_prez.mot8")}
        </strong>
        {t("about.mot_du_prez.mot9")}
    </p>
</div>

<style>
    .paragraph-light {
        text-align: justify;
    }
    .label {
        opacity: 0.6;
        letter-spacing: 1px;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .center {
        text-transform: uppercase;
        word-spacing: 3px;
        text-align: center;
    }
</style>
