---
import { localizePath } from "astro-i18next";

import imgEkip from "../../website-data/imgs/about/2024-2025_Telecom_Etude.jpg";
import ButtonColor from "../ButtonColor.astro";
import { t } from "i18next";
---

<div class="flex">
    <div class="wrop">
        <img src={imgEkip} alt="Image des membres de Télécom Etude" id="ekip" />
    </div>
    <div>
        <div class="flex-wrap">
            <div class="label">{t("about.notre_je.title")}</div>
            <h2 class="head">{t("about.notre_je.text")}</h2>
            <p class="paragraph-light">
                {t("about.notre_je.mot1")}
                <strong>{t("about.notre_je.mot2")}</strong>
                {t("about.notre_je.mot3")}<br />{t("about.notre_je.mot4")}
                <strong>{t("about.notre_je.mot5")}</strong>
                {t("about.notre_je.mot6")}
            </p>
        </div>
        <a href={localizePath("/team")} class="button-ref">
            <ButtonColor>{t("about.notre_je.plus")}</ButtonColor>
        </a>
    </div>
</div>

<style>
    .head {
        text-align: center;
    }
    .flex-wrap {
        display: flex;
        flex-direction: column;
    }
    .flex-wrap > * {
        flex: 1;
    }
    .label {
        opacity: 0.6;
        letter-spacing: 1px;
        font-weight: bold;
        padding-left: 20px;
        text-transform: uppercase;
    }
    .wrop {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .flex {
        display: flex;
    }
    .flex > * {
        flex: 1;
    }
    #ekip {
        border-radius: 20px;
        width: 100%;
    }
    .button-ref {
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        line-height: 20px;
    }
    @media screen and (max-width: 1100px) {
        .flex {
            display: block;
        }
    }
</style>
