<span class="button-start">
    <span class="hidden">
        <slot />
    </span>
</span>
<style>
    .button-start .hidden {
        background: transparent;
        border: none;
        font-family: inherit;
        font-style: inherit;
        border: none;
        text-decoration: none;
        color: white;
        background: var(--accent-gradient);
        padding: 10px;
        border-radius: 6px;
        transition: all 0.5s;
        cursor: pointer;
    }
    .button-start {
        padding: 10px;
        border-radius: 6px;
    }
    @keyframes scale {
        from {
            transform: scale(1);
            border: 1px solid var(--orange);
        }

        to {
            transform: scale(8);
            border: 5px solid var(--orange);
        }
    }
    .button-start:hover {
        background: white;
        animation-duration: 0.4s;
        animation-name: scale;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .button-start:hover > .hidden {
        background-image: var(--accent-gradient);
        /* color: black; */
        background-size: 100%;
        background-position: 0%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
