<span class="button-start">
    <span>
        <slot />
    </span>
</span>
<style>
    .button-start {
        background: var(--accent-gradient);
        padding: 10px;
        text-decoration: none;
        border-radius: 6px;
        color: white;
        transition: all 0.5s;
    }
    @keyframes scale {
        from {
            transform: scale(1);
            border: 0px;
        }

        to {
            transform: scale(8);
            border: 4px solid var(--orange);
        }
    }
    .button-start:hover {
        background: white;
        animation-duration: 0.5s;
        animation-name: scale;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .button-start:hover > span {
        background-image: var(--accent-gradient);
        color: black;
        background-size: 100%;
        background-position: 0%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
