<div id="legal" class="section">
    <div class="heading-jumbo-small">Mentions légales</div>
    <div class="divider"></div>
    <br />

    <center>Proudly made with <a href="https://astro.build/" id="astro">Astro</a> by Telecom etude IT Team</center>
    <br />
    <center>Hosted with ❤️ by <a href="https://rezel.net/" id="rezel">Rezel</a></center>
    <br />
    <center>
        Using
        <a href="https://flagicons.lipis.dev/" class="w--current">Flag icons</a>
        <a href="https://www.flaticon.com/">Flaticon</a>
        <a href="https://mui.com/">MUI</a>
    </center>
    <br />

    <p class="paragraph-light"></p>
    <center>
        Conformément aux dispositions de l'article 6 III-1 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans
        l'économie numérique, vous trouverez ci-dessous les informations relatives à l'éditeur et à l'hébergeur de ce
        site internet.
    </center>
    <br />
    <h3 class="section-heading">Editeur</h3>
    <p class="paragraph-light"></p><center> <b>Telecom etude</b></center>
    <center> Association loi 1901, affiliée à la CNJE</center>
    <center> Siège social : Télécom Paris, 19, place Marguerite Perey 91120 PALAISEAU</center>
    <center> Mail : contact@telecom-etude.fr</center>
    <center> [N° SIRET : 332 711 522 00018 | N° URSSAF : 757 090058076001011 8</center>
    <center>N° TVA Intra-communautaire : FR 1933 2711 522 00018 | Code APE : 6202A]</center>
    <br />

    <h3 class="section-heading">Hébergeur</h3>
    <p class="paragraph-light"></p><center> <b>Rezel Hosting</b> (Rezel)</center>
    <center>Siège social : 19 Pl. Marguerite Perey, 91120 Palaiseau</center>
    <center>Site : <a href="https://rezel.net">rezel.net</a></center>
    <br />
</div>

<style>
    #rezel {
        font-weight: bold;
    }
    #astro {
        color: orange;
        font-weight: bold;
    }
    a {
        display: inline;
    }
    .section-heading {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: Avenirnextcyr, sans-serif;
        font-weight: 500;
        text-align: center;
    }
    .paragraph-light {
        opacity: 0.6;
        text-align: justify;
    }
    .divider {
        height: 1px;
        background-color: #eee;
    }
    .section {
        margin-right: 30px;
        margin-left: 30px;
    }
    .heading-jumbo-small {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: Avenirnextcyr, sans-serif;
        font-size: 36px;
        line-height: 50px;
        font-weight: 300;
        text-align: center;
        text-transform: none;
    }
</style>
