---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
import LogoOnly from "./Img/LogoOnly.astro";
---

<a href={localizePath("/")} class="under">
    <div class="flex">
        <div class="img"><LogoOnly /></div>
        <div class="text">
            <div>
                <span>{t("404.lost")}</span>
                <br />
                <span>{t("404.click")}</span>
            </div>
        </div>
    </div>
</a>

<style>
    .under {
        text-decoration: none;
    }
    .text {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .text > * {
        flex: 1;
    }
    .flex {
        display: flex;
    }
    .flex > * {
        flex: 1;
    }
    .img {
        height: 100%;
    }
    @media screen and (max-width: 767px) {
        .flex {
            display: block;
        }
    }
</style>
