---
import { data } from "../../website-data/content/confiance";
import { t } from "i18next";
---

<div class="section">
    <h3>{t("confiance.text1")}</h3>
    <div class="border">
        <div class="logo-container">
            {
                data.map((item: any) => (
                    <div class="wrapper-logo" title={item.title}>
                        <img class="imgs-confiance" alt={item.title} src={item.img} />
                    </div>
                ))
            }
        </div>
    </div>
</div>

<style>
    .wrapper-logo {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo-container {
        display: grid;
        grid: 1fr 1fr / auto-flow;
    }
    .border {
        background-color: white;
        padding: 20px;
        /* border-radius: 10px;
        border: 4px solid var(--deg5); */
    }
    .imgs-confiance {
        margin: 0 auto;
        width: 50%;
    }
    .section {
        width: 80%;
        text-align: center;
        margin: auto;
    }
    @media screen and (max-width: 767px) {
        .section {
            width: 100%;
            text-align: center;
            margin: auto;
        }
        .border {
            border: none;
            padding: 5px;
        }
    }
</style>
