---
import { localizePath } from "astro-i18next";
import ButtonColor from "../ButtonColor.astro";
import { t } from "i18next";
import LogoOnly from "../Img/LogoOnly.astro";
---

<div class="flex-wrap">
    <div>
        <LogoOnly />
    </div>
    <div class="text">
        <div>
            <div>
                <h1>
                    <span class="text-gradient">{t("start.text1")}</span>{
                        t("start.text2")
                    }
                </h1>
                <p>
                    {t("start.text3")}
                </p>
            </div>
            <br />
            <a href={localizePath("/contact")} class="href-start">
                <ButtonColor>{t("start.more")}</ButtonColor>
            </a>
        </div>
    </div>
</div>

<style>
    .href-start {
        text-decoration: none;
    }
    .flex-wrap {
        display: flex;
        margin: 40px;
    }
    .flex-wrap > * {
        flex: 0.5;
        display: flex;
        justify-content: center;
    }
    .text {
        display: flex;
        text-align: center;
        margin: auto;
    }
    h1 {
        line-height: 1.5;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100%;
        background-position: 0%;
        font-weight: bold;
        font-size: 1.2em;
    }
    @media screen and (max-width: 800px) {
        .flex-wrap {
            display: block;
            height: auto;
        }
    }
</style>
